.text {
  text-shadow: 1px 1px 3px rgb(0, 0, 0);
  font-size: 75px;
}

.playfair {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.playfair2 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.playfair3 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.playfair4 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
}

.HeroContainer {
  width: 100%;
  min-height: 80vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.back-video {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .back-video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .back-video {
    width: 100%;
    height: 100%;
  }
}
