.cream {
  background: #f1f4f1;
}
.green1 {
  background: #b8c3ae;
}
.green2 {
  background: #69896a;
}
.green3 {
  background: #3c5341;
}
.browngreen {
  background: #9a9777;
}

.swatch_1 {
  background: #afa49d;
}
.swatch_2 {
  /* background-color: #c9d6db; */
  background-color: #d2e0ee;
  /* sohpias blue */
}
.swatch_3 {
  background-color: #162f20;
}
.swatch_4 {
  background: #957e6a;
}
.swatch_5 {
  background: #555546;
}

.body {
  background-color: #ac1212;
}

/* Text */
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}
.containerCon {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 2px;
  border-style: solid;
  border: red;
}

@media (max-width: 275px) {
  .containerCon {
    max-width: 245px;
  }
}

@media (min-width: 355px) {
  .containerCon {
    max-width: 325px;
  }
}

@media (min-width: 640px) {
  .containerCon {
    max-width: 600px;
  }
}

@media (min-width: 768px) {
  .containerCon {
    max-width: 660px;
  }
}

@media (min-width: 1024px) {
  .containerCon {
    max-width: 920px;
  }
}

@media (min-width: 1280px) {
  .containerCon {
    max-width: 1200px;
  }
}

@media (min-width: 1536px) {
  .containerCon {
    max-width: 1460px;
  }
}
@media (min-width: 1900px) {
  .containerCon {
    max-width: 1550px;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 100px;
    padding-bottom: 100px;
    border-radius: 30px;
  }
  .containerCon1 {
    max-width: 1750px;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 100px;

    border-radius: 30px;
  }
}

.headerText {
  font-size: 50px;
}

.bodyText {
  font-size: 24px;
  word-spacing: 2px;
}

.textColor {
  color: #3c5341;
}

.bodyTextAbout {
  color: black;
  font-size: 32px;
  font-family: "Playfair Display";
  font-weight: "500";
  letter-spacing: 2px;
}

/* CSS */
.button-1 {
  background-color: #131313;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 20px;
  font-weight: 500;
  height: 50px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 46px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: #69896a;
}
